###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> application ###
/.vscode
/vendor
/__storage
/__devtool
/migrations/*
!/migrations/.gitignore
###< application ###
/TODO
/src/Util/RoleDTO.php
/public/images/game3.png
/public/images/game2.png
/public/images/game1.png
